<form action="" method="get">
    <div><label for="name">Enter the new recipe name</label>
    <input type="text" name="name" ></div>
    <div><label for="description">Write your recipe description</label>
    <textarea rows="4" cols="50" type="text" name="description"></textarea></div>
    <div><label for="prep_time">What is the prep time?</label>
    <input type="text" name="prep_time" ></div>
    <div><label for="rating">Rate you recipe </label>
    <input type="text" name="rating" ></div>
    <input type="submit" value="Submit!">
</form>

  <a href="http://localhost:4567/menu">Menu</a>
