<h2>What do you want to do next ?</h2>

<ul>
  <li><a href="http://localhost:4567">List all recipes</a></li>
  <li><a href="http://localhost:4567/add">Add a new recipe</a></li>
  <li>Import recipes from the Internet</li>
  <li>Remove a recipe</li>
  <li>Stop and exit the program</li>
</ul>


